*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background: rgb(5, 14, 56);
}
header{
    display: inline-flex;
    margin: 40px;
}
.logo{
    margin-right: 80px;
    margin-left: -20px;
}
.logo img{
    display: inline-flex;
    width: 60px;
}
header .menu ul{
    display: inline-flex;
}
header .menu ul li{
    margin: 10px 35px 0px 0px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
#active a{
    color: rgb(54, 70, 214);
}
.user{
    position: absolute;
    top: 45px;
    right: 40px;
}
.user a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(54, 70, 214);
}
#login{
    color: rgb(0, 0, 0);
}