*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(24 33 70);
    font-family:sans-serif;
}
header{
    display: inline-flex;
    margin: 40px;
}
.logo{
    margin-right: 80px;
    margin-left: -10px;
}
.logo img{
    display: inline-flex;
    width: 60px;
    filter: invert(100%);
    margin-left: 10px;
}
header .menu ul{
    display: inline-flex;
}
header .menu ul li{
    margin: 10px 35px 0px 0px;
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
#active a{
    color: rgb(121 255 255);
}
.singup-btn{
    position: absolute;
    top: 40px;
    right: 40px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* padding: 5px 10px 5px 10px; */
    margin: 0px 5px 0px 5px;
    /* background-color: rgb(54, 70, 214); */
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(rgb(63 67 84), rgb(63 67 84)), radial-gradient(circle at top left, #5401c1, #7fffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.singup-btn span{
    display: block;
    padding: 3px 11px 3px 11px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 135px;
    position: absolute;
    color: white;
    display: block;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h2{
    position: relative;
    font-size: 40px;
    color: #79ffff;
    width: 540px;
    margin-left: 45px;
}
.app-text p{
    margin: 30px 0px 33px 40px;
    font-size: 15px;
    width: 540px;
    line-height: 25px; 
    color: rgb(207, 207, 207);
}
.app-picture{
    width: 50%;
    float: right;
}
.app-picture img{
    width: 90%;
    margin-left: 100px;
    margin-top: -40px;
}
.play-btn{
    margin-left: 40px;
    display: inline-flex;
}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(rgb(63 67 84), rgb(63 67 84)), radial-gradient(circle at top left, #5401c1, #7fffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 18px 0px;
    font-size: 13px;
    cursor: pointer;
}
small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 18px;
    color: #79ffff;;
}